<div>
  <h1>Add a Song</h1>
  <form #addSongForm="ngForm">
    <div>
      <label for="name">Title</label>
      <input type="text" id="name"
                         required
                         [(ngModel)]="model.name" name="name">
    </div>

    <div>
      <label for="artist">Artist</label>
      <input type="text" id="artist"
                         required
                         [(ngModel)]="model.artist" name="artist">
    </div>

    <p>If you have links to the song on Itunes, Spotify, or Youtube, share them here</p>
    <div>
      <label for="itunes">Itunes Link</label>
      <input type="text" id="itunes"
                         [(ngModel)]="model.itunesLink" name="itunes">
    </div>

    <div>
      <label for="spotify">Spotify Link</label>
      <input type="text" id="spotify"
                         [(ngModel)]="model.spotifyLink" name="spotify">
    </div>

    <div>
      <label for="youtube">Youtube Link</label>
      <input type="text" id="youtube"
                         [(ngModel)]="model.youtubeLink" name="youtube">
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
