<div>
  <h1>Add a Song</h1>
  <form (ngSubmit)="onSubmit()" #addSongForm="ngForm">
    <div>
      <label for="name">Title</label>
      <input type="text" id="name"
                         required
                         [(ngModel)]="model.name" name="name">
    </div>

    <button type="submit">Submit</button>
  </form>
  <div *ngIf="tracks != null">
    <div class="grid-container">
      <app-track-select-component
          *ngFor="let track of tracksArray"
          [track]="track"
          (click)="createChat(track)"></app-track-select-component>
  </div>

  </div>
</div>

<p><a routerLink="/search">Return to Search</a></p>
