<div>
  <h1>Add a Song</h1>
    <div style= "text-align: center;">
      <input class="bar" type="text" id="name" [(ngModel)]="model.name" name="name" autocomplete="off" (input) ="onSearch(model.name)">
    </div>

  <div *ngIf="tracks != null">
    <div class="grid-container">
      <app-track-select-component
          *ngFor="let track of tracksArray"
          [track]="track"
          (click)="createChat(track)"></app-track-select-component>
  </div>

  </div>
</div>

<p><a routerLink="/search">Return to Search</a></p>
