
.cover {
  margin-top: 10px;
    width: 50%;
    height: 50%;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 6px dashed #e45343;
}

.grid-item {
  margin :5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 70%;
  text-align: center;
  min-height: 90%;
  min-width: 90%;
  height: 90%;
  width: 90%;
  max-height: 90%;
  max-width: 90%;
}
