<h1>Search for a song:</h1>

<!--Search field-->
<input type="text" [(ngModel)]="searchKey" placeholder="Song Name">

<!--Line break TODO: Find out why br tag isn't working-->
<p></p>

<table class="result-list">
  <tr>
    <th>Artist</th>
    <th>Title</th>
  </tr>
  <tr *ngFor="let song of songs | async | search:'name,artist':searchKey">
    <td>{{song.artist}}</td>
    <td class="song-name">{{song.name}}</td>
    <td><a routerLink="/song/{{song.songID}}">Comments</a></td>
  </tr>
</table>

<p>Not finding what you're looking for? <a routerLink="/add-song">Add a song!</a></p>
