<h1>Search for a song:</h1>

<!--Search field-->
<p>
<span class="search-buffer"></span><!--
--><input type="text" class="searchbar" [(ngModel)]="searchKey" placeholder="Song Name"><!--
--><span class="search-buffer"></span>
</p>

<p *ngIf="numSongs > 5">
<span class="items-per-page-buffer"></span><!--
--><select class="items-per-page-selector" [(ngModel)]="itemsPerPage">
  <option value="5">5</option>
  <option *ngIf="numSongs > 10" value="10">10</option>
  <option *ngIf="numSongs > 20" value="20">20</option>
  <option *ngIf="numSongs > 100" value="100">100</option>
  <option value="999999">All</option>
</select><!--
--><span class="items-per-page-buffer"></span>
</p>

<table class="result-list">
  <tr>
    <th>Artist</th>
    <th>Title</th>
  </tr>
  <tr *ngFor="let song of songs | async | search:'name,artist':searchKey | slice:((page-1)*itemsPerPage):(page*itemsPerPage)">
    <td>{{song.artist}}</td>
    <td class="song-name">{{song.name}}</td>
    <td><a routerLink="/song/{{song.songID}}">Comments</a></td>
  </tr>
</table>

<br>

<div *ngIf="numSongs > itemsPerPage">
  <ngb-pagination class="d-flex justify-content-center"
                  [collectionSize]="numSongs"
                  [pageSize]="itemsPerPage"
                  [(page)]="page"
                  size="sm"
                  [boundaryLinks]="true">
  </ngb-pagination>
</div>

<p id="addsong">Not finding what you're looking for? <a routerLink="/add-song">Add a song!</a></p>
