.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.musicinfocomponent {
  text-align: center;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #9e9c9c;
  display: inline-block;
}
