.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.musicinfocomponent {
  width: 100%;
  height: auto;
  /* padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #9e9c9c;
  text-align: center;
}
